name: Build React App

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-commit:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          persist-credentials: true # This ensures credentials are available for pushing

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '16' # Replace with your Node.js version

      - name: Install dependencies
        run: npm install

      - name: Build the React app
        run: BUILD_PATH=.nginx/build/ npm run build

      - name: Commit and push if changes
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add -f nginx/build/
          git commit -m "Update build directory" -a || echo "No changes to commit"
          git push origin HEAD:main
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN }}

      - name: Build Docker image - nginx
        run: docker build -t dockerbouy/my-nginx-image:latest .
        working-directory: ./nginx
        # Replace 'yourusername/yourappname' with your Docker Hub username and app name

      - name: Build Docker image - backend
        run: docker build -t dockerbouy/backend-1:latest .
        working-directory: ./backend


      - name: Log in to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Push Docker image to Docker Hub - nginx/frontend
        run: docker push dockerbouy/my-nginx-image:latest

      - name: Push Docker image to Docker Hub - backend
        run: docker push dockerbouy/backend-1:latest
